body {
	background-image: url("/img/concrete_seamless.png");
	background-size: 100% 100%;
	margin: 10% 10% 0 10%;
}

#header {
	border: 2px solid black;
	width: 75%;
	text-align: center;
	background-image: url("/img/doge.png");
	color: white;
}

#posts {
	text-align: center;
	position: absolute;
	height: 100%;
	width: 60%
}